.example {
    /* Position */

    /* Sizes */

    /* Block */

    /*Text*/

}

.ui-dialog {
    background: #000;
}

.battleplace .block {
    transition: ease 0.5s;
}

.block {
    cursor: pointer;
}

.ui-state-active {
    border: 1px solid #000;
    width: 53px;
    height: 53px;
    background: #000;
}

.award {
    background: #fff;
    color: #555;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-top: 5px;
}

.award h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block[level="1"] {
    background-color: #709C34;
}

.block[level="2"] {
    background-color: #FFD300;
}

.block[level="3"] {
    background-color: #FF4900;
}

body {
    background: #f1f1f1;
    color: #333;
    font-family: Lato;
    text-align: center;
}

.container {
    width: 1200px;
    display: inline-block;
}

.battleplace {
    /* Position */
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 10px;

    /* Sizes */
    width: 400px;
    height: 400px;

    /* Block */
    background: #d9d9d9;
    border-radius: 3px;

    /*Text*/
    text-align: left;
}

.battleplace .sector {
    display: inline-block;
    margin: 10px;

    width: 56px;
    height: 56px;

    background: #ccc;
    box-shadow: inset 0px 0px 2px #777;

    border-radius: 3px;

    overflow: hidden;
}

.battleplace .sector .block {
    display: inline-block;
    position: absolute;

    width: 56px;
    height: 56px;

    background: #ccc;
    border-radius: 3px;

    overflow: hidden;
}


.right {
    /* Position */
    display: inline-block;
    float: right;
    margin-bottom: 30px;

    /* Sizes */
    width: 160px;
    height: 50px;

    /* Block */

    /*Text*/
    text-align: right;

}

.left {
    /* Position */
    display: inline-block;
    float: right;
    margin-bottom: 30px;

    /* Sizes */
    width: auto;
    height: 50px;

    /* Block */

    /*Text*/
    text-align: left;

    color: #fff;
}

.ava img {
    float: right;
    border-radius: 50px;
    width: 50px;
    margin-top: 15px;
}



.name {
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 15px;
    color: #333;
    width: auto;
    text-align: left;
}

.logo {
    float: left;
    display: inline-block;
    margin-top: 23px;
    font-family: "Lato Heavy";
    font-size: 24px;
}

.nav {
    float: left;
    list-style: none;
    padding: 0;
    margin-top: 30px;
    margin-left: 40px;
}

.nav li {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    opacity: 0.5;
}

.nav li:hover {
    opacity:1;
}

.header {
    margin-bottom: 30px;
}

.dinamicBlock {
    display: inline-block;

    margin-top: 0px;

    width:120px;
    height:120px;

    background: #ccc;
    box-shadow: inset 0px 0px 2px #777;

    border-radius: 5px;

}

.dinamicBlock .block {
    display: inline-block;

    margin-top: 30px;

    width: 56px;
    height: 56px;

    background: #777;
    border-radius: 3px;
}

.awards {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%, -50%);

    height: 360px;
    width:200px;
    padding: 20px;

    /*background: #333333;*/

    text-align: left;
}

.hide {
    display: none;
}

.awards p {
    margin: 0;
}
